
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



.main-container {
    display: flex;
    height: 100%;
}

.right-side {
    flex-grow: 1;

    background: #FFFFFF;
}




.header {

    background-color: #FFFFFF;
    display: flex;
    height: 72px;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}


.header-right {
    margin-left: auto;
    margin-right: 42px;


}

.header-item {
    display: flex;
    align-items: center;
    color: #2263AE;
    margin-left: 100px;
}

.header-item img {
    margin-right: 12px;
}





