@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;


}


.lelft-sidebar {
    background-color: #2263AE;

    flex-basis: 256px;
    height: 100%;

}

.left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    height: 72px;

    background-color: #FFFFFF;


}

.arrow {
    margin-right: 18px;
}

.logo {
    margin-left: 18px;
}

.left-searchbar {
    display: flex;
    align-items: center;



    width: 256px;
    height: 48px;

    background: #F5F5F5;

}

.left-color {
    box-sizing: border-box;

    width: 4px;
    height: 48px;

    background: #2BBBED;

}

.search-client {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-left: 50px;
    /* identical to box height, or 24px */

    letter-spacing: 0.15px;

    color: #2263AE;


    /* Inside auto layout */


}

.search-icon {
    margin-left: 10px;

}

.menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px 16px 0px 0px;

    height: 48px;

    background: #2263AE;

}

.admin {


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.15px;

    color: #FFFFFF;
}



.left-largebox {
    display: flex;
    margin-top: 445px;
}

.right-arrow {
    margin-left: 12px;

}

.log-out {
    margin-left: 30px;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    /* identical to box height, or 24px */

    letter-spacing: 0.15px;

    color: #FFFFFF;
}


