

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.search-toolbar {
    height: 44px;
    border: 1px solid #D7DADC;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.search-file {
    width: 178px;
    height: 44px;
    background: #EBEDEF;
    color: #000000;

    border-radius: 0px 25px 0px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    /* identical to box height, or 24px */

    letter-spacing: 0.15px;
}
.cross-img img{
    margin-left: 15px;
}

.vertor-img img{
    margin-right: 53px;
}
.plus-img img{
    margin-right:970px;
    
}
