@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



.header {
    background-color: #FFFFFF;
    height: 72px;
    
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}



#header-right {
    margin-left: auto;
    margin-right: 42px;
}



ul{
    width: 100%;
}
.nav-link:hover{
    color: #2263AE;
}


.nav-link {
    margin-left: 60px;
    color: #2263AE;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.15px;

}


.nave-img {
    margin-right: 8px;
}

